body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#dealership-name {
  max-width: 400px;
}

#logo {
  width: 200px;
}

.adjust {
  margin-right: 50px;
}

#user {
  margin-bottom: 20px;
  display: flex;
  justify-content: right;
  gap: 20px;
}

.filter {
  display: flex;
  justify-content: left;
}

#filter-selections {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

footer {
  background-color: black;
  color: white;
  padding: 50px;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.footer-class {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button-right {
  float: right;
}


.carousel-item {
  height: 350px;

}

.carousel-item img {
    display: block;
    margin: auto;
    min-height: 350px;
    transform: translate(0, -30%);
  }

.carousel {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

#map {
  height: 350px;
  width: 100%;
}
